<link rel="stylesheet" href="css/jquery.countdown.css">
<style>
    h3{color: #EB2B00}
</style>
<div class="row" style="width: 100%">
    <div class="col-md-3 doc-side-nav-col">
        <h4 class="doc-side-nav doc-active" id="doc-1">What is AlgoPiper?</h4>
        <h4 class="doc-side-nav" id="doc-2">User Guide</h4>
        <h4 class="doc-side-nav algopiper-try" id="doc-3">Try Now ..</h4>
        <h4 class="doc-side-nav algopiper-submit" id="doc-4">Submit Workflow</h4>
    </div>
    <div class="col-md-9 col-sm-9 algopiper-section" id="algopiper">
            <h2>What is AlgoPiper?</h2>
            <div class="blog-post blog-single-post">
                <h4 style="line-height: 150%;"><b>AlgoPiper</b> is a drag-n-drop visual tool to create modular and reusable computational workflows from <a href="/browse">AlgoRun</a> algorithms. AlgoPiper makes troubleshooting complex workflows easier.<br> Drag and drop AlgoRun nodes, choose their corresponding algorithms and run the computation on a given input. You can export workflows and submit them here to be always available on our servers for integration in distributed systems ..</h4>
            </div>
            <img src="img/algopiper.png" style="width: 100%" alt="AlgoPiper Screenshot">
            <br><br>
            <a class="btn algopiper-try" style="text-decoration:none;font-weight:bold; width: 100%">TRY NOW!</a>
    </div>
    <div class="col-md-9 col-sm-9 algopiper-section" id="guide" hidden>
        <h2>Follow these steps to create a workflow!</h2>
        <h3>STEP 1: Deploy AlgoPiper </h3>
        <h4>From the left menu, choose <a class="algopiper-try" style="cursor: pointer">Try Now!</a> Hit the Deploy button. This will open a new tab with an isolated AlgoPiper environment for you (allow popups when asked). The main AlgoPiper interface looks like: </h4>
        <img src="img/algopiper-steps/algopiper-1.png" style="width: 100%">
        
        <h3>STEP 2: Drag AlgoRun Node and Choose an Algorithm</h3>
        <h4>The left sidebar shows a number of available nodes that can be added to a workflow. Drag an AlgoRun node into the workspace. Double click a node to choose an algorithm. When you <a href="/submit-algorithm" target="_blank">submit algorithms</a> to AlgoRun, it will be automatially available in the list</h4>
        <img src="img/algopiper-steps/algopiper-2.png" style="width: 100%">
        <br><br>
        <img src="img/algopiper-steps/algopiper-3.png" style="width: 100%">
        <br><br>
        <img src="img/algopiper-steps/algopiper-4.png" style="width: 100%">
        <br><br>
        <img src="img/algopiper-steps/algopiper-5.png" style="width: 100%">
        <br><br>
        <img src="img/algopiper-steps/algopiper-6.png" style="width: 100%">
        
        <h3>STEP 3: Read Algorithm Information</h3>
        <h4>On the right sidebar, the info tab will show detailed information about the algorithm and its usage. Make sure to check the input and output format to be able to build a workflow correctly. Check <a href="/input-output-types" target='_blank'>our list</a> of input and ouptput types.</h4>
        <img src="img/algopiper-steps/algopiper-7.png" style="width: 100%">
        
        <h3>STEP 4: Add Input and Output Nodes</h3>
        <h4>Input nodes are used to start the workflow computation. Edit the input node by adding your input in the text box. Output nodes are used to print the output of the computation to the right sidebar (OUTPUT tab).</h4>
        <img src="img/algopiper-steps/algopiper-8.png" style="width: 100%">
        <br><br>
        <img src="img/algopiper-steps/algopiper-9.png" style="width: 100%">
        
        <h3>STEP 5: Connect Nodes</h3>
        <h4>Connect the right dot of the input node to the left dot of the AlgoRun node. Connect the right dot of the AlgoRun node to the left dot of the output node.</h4>
        <img src="img/algopiper-steps/algopiper-10.png" style="width: 100%">
        
        <h3>STEP 6: Deploy and Change Parameters</h3>
        <h4>On the top right corner, hit deploy. AlgoRun node status will change to ready. On the right sidebar, you can change the parameters of this node from the Parameters tab.<br><br><b>NOTE:</b> In some browsers, you may need to refresh the page after you hit deploy for the node status (e.g. the green ready) to show up. This doesn't affect the operation of the workflow though.</h4>
        <img src="img/algopiper-steps/algopiper-11.png" style="width: 100%">
        <br><br>
        <img src="img/algopiper-steps/algopiper-12.png" style="width: 100%">
        
        <h3>STEP 7: Start the Computation</h3>
        <h4>Hit the button on the left of the input node to trigger the workflow. This will inject the input data to the AlgoRun node. The AlgoRun node will automatically perform the computation and passes the output to the next node; which is the output node in this simple workflow. The output node will print the output to the right sidebar. Openning the log file of the AlgoRun node helps troubleshoot complex workflows.</h4>
        <img src="img/algopiper-steps/algopiper-13.png" style="width: 100%">
        <br><br>
        <img src="img/algopiper-steps/algopiper-14.png" style="width: 100%">
        <br><br>
        <img src="img/algopiper-steps/algopiper-15.png" style="width: 100%">
        
        <h3>STEP 8: Export Workflows</h3>
        <h4>From the top right corner, export the workflow to a local file for future use. Using AlgoPiper through AlgoRun website is free but the session is limited to 24 hours, then your isolated environment will be premenantly delelted. You can start a new session (when the first one is done) and import your saved workflow.<br><br><b>TIP:</b> <a class="algopiper-submit" style="cursor:pointer">Submit a workflow</a> from the left menu to host your workflows permanently on our servers ..</h4>
        <img src="img/algopiper-steps/algopiper-16.png" style="width: 100%">
        <br><br>
        <img src="img/algopiper-steps/algopiper-17.png" style="width: 100%">
        <br><br>
        <img src="img/algopiper-steps/algopiper-18.png" style="width: 100%">
    </div>
    <div class="col-md-9 col-sm-9 algopiper-section" id="try" style="height: 80vh;" hidden>
            <div class="blog-post blog-single-post">
                <h4 style="line-height: 150%;">This version of AlgoPiper is trial. When you hit <b>deploy</b> below, you will be redirected to an isloated AlgoPiper environment for your work. The environment -along with the workflows- will be deleted permanently from our servers after <b>24 hours</b>.<br> <span style="color: red;">Make sure to export your workflows and save them to a file on your local machine.</span> </h4>
            </div>
            <a class="btn" style="text-decoration:none;font-weight:bold; width: 100%" id="deploy-btn">DEPLOY!</a>
            <br><br>
            <div id="defaultCountdown"></div>
    </div>
    <div class="col-md-9 col-sm-9 algopiper-section" id="submit" style="height: 80vh;" hidden>
            <div class="blog-post blog-single-post">
                <h4 style="line-height: 150%;"><b>COMING SOON!</b></h4>
            </div>
    </div>
    
</div>

<!-- Javascripts -->
<script src="js/jquery.plugin.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/algopiper.js"></script>