<!-- Algolia Search -->
<div class="container">
    <div style="margin-top: 20px; height: 80vh;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="text" id="search-box" class="form-control" style="text-align: center" autocomplete="off" placeholder="search by algorithm name or keywords"/>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div id="hits-container" class="row">


        </div>
        <div id="pagination-container"></div>
    </div>
</div>
<div id="footer" style="text-align: center;">
    Powered by:
    <img src="img/algolia.png" style="width: 50px; hight: 1px;"/>
</div>
<!-- Algolia search -->
<script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
<script src="js/browse.js"></script>
