<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <!-- Map -->
                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2977.1798117941967!2d-72.7936254494889!3d41.7382142820345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7addb4e532243%3A0x998fe2394845d190!2s195+Farmington+Ave%2C+Farmington%2C+CT+06032!5e0!3m2!1sen!2sus!4v1445187345709" width="100%" height="300px"></iframe>
                <!-- End Map -->
                <!-- Contact Info -->
                <p class="contact-us-details">
                    <b>Developed in:</b> Center for Quantitative Medicine, University of Connecticut<br/>
                </p>
                <!-- End Contact Info -->
            </div>
            <div class="col-sm-5">
                <!-- Contact Form -->
                <h3>Send Us a Message</h3>
                <div class="contact-form-wrapper">
                    <form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
action="https://algorun.wufoo.com/forms/mvqmmz914fqrz6/#public">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-5" style="text-align: left;">First</div>
                            <div class="col-md-5" style="text-align: left;">Last</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><label class="control-label">Name <span style="color: #FF0000">*</span></label></div>
                            <div class="col-md-5">
                                <input id="Field9" name="Field9" type="text" class="field text fn form-control" value="" size="20" tabindex="1" required />
                            </div>
                            <div class="col-md-5">
                                <input id="Field10" name="Field10" type="text" class="field text fn form-control" value="" size="20" tabindex="2" required />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2"><label class="control-label">Email <span style="color: #FF0000">*</span></label></div>
                            <div class="col-md-10">
                                <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium form-control" value="" maxlength="255" tabindex="3" size="45" required />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Message <span style="color: #FF0000">*</span></label>
                            <br>
                            <textarea id="Field4" name="Field4" class="field textarea medium form-control" spellcheck="true" rows="6" cols="55" tabindex="4" onkeyup="" required  ></textarea>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <input id="saveForm" name="saveForm" class="btTxt submit btn pull-right" type="submit" value="Send"/>
                            </div>
                        </div>
                        <ul> 
                            <li class="hide">
                                <label for="comment">Do Not Fill This Out</label>
                                <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                                <input type="hidden" id="idstamp" name="idstamp" value="+sN4uTTgMXjLOYIuXVeNRRbFZwL6k2p0CnkE2P/3Nlo=" />
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- End Contact Info -->
            </div>
        </div>
    </div>
</div>