<div class="row">
    <div class="col-md-3 doc-side-nav-col">
        <h4 class="doc-side-nav doc-active" id="doc-1">Packaging Sofware (v1.2)</h4>
        <h4 class="doc-side-nav" id="doc-2">Packaging Sofware (v1.3)</h4>
        <h4 class="doc-side-nav" id="doc-3">Example: Packaging Bowtie Sofware</h4>
<h4 class="doc-side-nav" id="doc-4"><a style="text-decoration:none;color:grey;" href="/input-output-types">Input / Output types</a></h4>
    </div>
    <div class="col-md-9">
        <iframe src="resources/packaging-software-1.2.pdf" width="100%" style="height: 90vh" id="doc-pdf"></iframe>
    </div>
</div>

<!-- Javascripts -->
<script src="js/documentation.js"></script>