<div class="section banner">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-20">
            <h1 class="site-header" > OCSANA+: Optimal Control and Simulation of Signaling Networks from Network Analysis</h1>
        </div>
     
    </div>
</div>
</div>
<div class="section">
    <div class="container">
        <h2>What is OCSANA+?</h2>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="blog-post blog-single-post">
                    <h4 style="line-height: 150%;">OCSANA+ is a Cytoscape app for identifying potential driver nodes, prioritizing combinations ofinterventions, and simulating the effects of node perturbations in biological networks. OCSANA+ includes an update to OCSANA (optimal combinations of interventions from network analysis),  structure-based controllability algorithms for non-linear systems and an algorithm for estimating the signal flow through anetwork based on the network’s topology. OCSANA+ provides researchers a tool to identify and simulate perturbations to key molecular targets within large scale complex signaling network.</h4>
                    
                </div>
            </div>
        </div>
    </div>
</div>