<div class="section banner">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1 class="site-header">A Docker-based container template for computational algorithms</h1>
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
            <img src="img/header-image.png" alt="algorun illustration" width="250">
        </div>
    </div>
</div>
</div>
<div class="section">
    <div class="container">
        <h2>What is AlgoRun?</h2>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="blog-post blog-single-post">
                    <h4 style="line-height: 150%;"><b>The problem</b>: There is a growing need in bioinformatics (and computational science in general) for easy-to-use software implementations of algorithms that are usable across platforms. At the same time, reproducibility of computational results is critical and often a challenge due to source code changes over time and dependencies.</h4>
                    <h4 style="line-height: 150%;"><b>The solution</b>: AlgoRun is a dedicated packaging system for implemented algorithms, using Docker technology. Implemented algorithms, packaged with AlgoRun, can be executed through a user-friendly interface directly from a web browser or via a standardized RESTful web API to allow easy integration into more complex workflows. The packaged algorithm includes the entire software execution environment, thereby eliminating the common problem of software dependencies and the irreproducibility of computations over time. Resulting AlgoRun-packaged algorithms can be <a href="/submit-algorithm">submitted online</a> to a centralized searchable directory to <a href="/browse">find existing AlgoRun-packaged algorithms</a>.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<div class="section">
    <div class="container">
        <h2>What do they say about AlgoRun?</h2>
        <div class="row">
            <!-- Testimonial -->
            <div class="testimonial col-md-3 col-sm-6">
                <!-- Author Photo -->
                <div class="author-photo">
                    <img src="img/testimonials/laubenbacher.png" alt="Author 1">
                </div>
                <div class="testimonial-bubble">
                    <blockquote>
                        <!-- Quote -->
                        <p class="quote">
                            "AlgoRun makes it possible to build complex yet extremely modular multiscale models that don't rely on an integrated monolithic code base. It has the potential to be the core architecture for future computational software."
                        </p>
                        <!-- Author Info -->
                        <cite class="author-info">
                            - Reinhard Laubenbacher,<br>Director at <a href="http://cqm.uchc.edu/">Center for Quantitative Medicine, UConn Health</a>
                        </cite>
                    </blockquote>
                    <div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
            <!-- End Testimonial -->
            <div class="testimonial col-md-3 col-sm-6">
                <div class="author-photo">
                    <img src="img/testimonials/vera-licona_paola.png" alt="Author 2">
                </div>
                <div class="testimonial-bubble">
                    <blockquote>
                        <p class="quote">
                            "AlgoRun is a useful tool for the scientific community developing and applying software in their research endeavors. AlgoRun enables an easy way to prepare your software tools with a user-friendly execution, cross-platform portability and simple distribution: the true spirit of research reproducibility!"
                        </p>
                        <cite class="author-info">
                            - Paola Vera-Licona,<br>Assistant Professor at <a href="http://cqm.uchc.edu/">Center for Quantitative Medicine, UConn Health</a>
                        </cite>
                    </blockquote>
                    <div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
            <div class="testimonial col-md-3 col-sm-6">
                <div class="author-photo">
                    <img src="img/testimonials/thibauld.jpg" alt="Author 3">
                </div>
                <div class="testimonial-bubble">
                    <blockquote>
                        <p class="quote">
                            "AlgoRun creates a standard that makes it unbelievably easy to integrate complex algorithm into your application, a game changer!"
                        </p>
                        <cite class="author-info">
                            - Thibauld Favre,<br>President of <a href="https://laprimaire.org/">democratech</a> and AlgoRun architect
                        </cite>
                    </blockquote>
                    <div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
            <div class="testimonial col-md-3 col-sm-6">
                <div class="author-photo">
                    <img src="img/testimonials/andrew.jpg" alt="Author 3">
                </div>
                <div class="testimonial-bubble">
                    <blockquote>
                        <p class="quote">
                            "AlgoRun makes it easy to package your algorithmic software and even easier for your users to deploy it. No more compiler errors, library version mismatches, or dead code links!"
                        </p>
                        <cite class="author-info">
                            - Andrew Gainer-Dewar,<br>Postdoctral Fellow at <a href="http://www.uchc.edu/">UConn Health</a>
                        </cite>
                    </blockquote>
                    <div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Call to Action Bar -->
<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="calltoaction-wrapper">
                    <h3>It's free to use and publish your algorithm here</h3> <a href="/documentation" class="btn" style="text-decoration:none;font-weight:bold;">START</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action Bar -->