<div class="section banner">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1 class="site-header">OCSANA+: a Cytoscape app for identifying things in networks</h1>
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
            <img src="img/header-image.png" alt="algorun illustration" width="250">
        </div>
    </div>
</div>
</div>
<div class="section">
    <div class="container">
        <h2>What is OCSANA+?</h2>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="blog-post blog-single-post">
                    <h4 style="line-height: 150%;"><b>The problem</b>: There is a growing need in bioinformatics (and computational science in general) for easy-to-use software implementations of algorithms that are usable across platforms. At the same time, reproducibility of computational results is critical and often a challenge due to source code changes over time and dependencies.</h4>
                    <h4 style="line-height: 150%;"><b>The solution</b>: AlgoRun is a dedicated packaging system for implemented algorithms, using Docker technology. Implemented algorithms, packaged with AlgoRun, can be executed through a user-friendly interface directly from a web browser or via a standardized RESTful web API to allow easy integration into more complex workflows. The packaged algorithm includes the entire software execution environment, thereby eliminating the common problem of software dependencies and the irreproducibility of computations over time. Resulting AlgoRun-packaged algorithms can be <a href="/submit-algorithm">submitted online</a> to a centralized searchable directory to <a href="/browse">find existing AlgoRun-packaged algorithms</a>.</h4><br>
                </div>
            </div>
        </div>
    </div>
</div>