<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{=it.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/png" href="/img/favicon.png" />

        <link rel="stylesheet" href="css/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="css/main.css">

        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>

    <body style="height:90vh">
        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><a href="/"><img src="img/ocsana_logo.png" alt="OCSANA+ logo"></a></li>
						<li {{=it.home_tab}}>
							<a href="/">Home</a>
						</li>
					
                        <li {{=it.doc_tab}}>
                            <a href="/documentation">Documentation</a>
						</li>
                        <li {{=it.pub_tab}}>
                            <a href="/publications">Publications</a>
						</li>
                        <li {{=it.submit_tab}}>
							<a href="https://veraliconaresearchgroup.github.io/">Vera-Licona Research Group</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
        
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="js/jquery.fitvids.js"></script>
        <script src="js/jquery.sequence-min.js"></script>
        <script src="js/jquery.bxslider.js"></script>
        <script src="js/main-menu.js"></script>
        <script src="js/template.js"></script>
        {{=it.body}}
        <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row" style="margin-bottom: 10px;">
		    		<div class="col-sm-4" style="margin-top: 25px;">
                    &copy; 2015 AlgoRun. All Rights Reserved.
                </div>
                <div class="col-sm-4" style="text-align:center; margin-top: 20px;">
                    <a href="https://github.com/VeraLiconaResearchGroup/OCSANA_Plus" target="_blank"><img src="img/github.png" width="25" height="25"></a>
                    <a href="https://twitter.com/CompSysMed" target="_blank"><img src="img/twitter.png" width="25" height="25"></a>
                </div>
                <div class="col-sm-4" style="text-align: right;margin-top: 25px;">
                    <a href="/contact-us" style="color: #FFF;">Contact Us</a>
                </div>
		    	</div>
		    </div>
	    </div>
        <!-- Google Analytics -->
        <script src="js/analytics.js"></script>
    </body>
</html>