<div class="section" style="height:65vh;">
    <div class="container">
        <h2>Cited By:</h2>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="blog-post blog-single-post">
                    <h4 style="line-height: 150%;"><b>Is your research reproducible?</b><br>A Hosny - XRDS: Crossroads, The ACM Magazine for Students, 2016 - dl.acm.org</h4>
                    <h4 style="line-height: 150%;"><b>The minimal hitting set generation problem: algorithms and computation</b><br>A Gainer-Dewar, P Vera-Licona - arXiv preprint arXiv:1601.02939, 2016 - arxiv.org</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call to Action Bar -->
<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="calltoaction-wrapper">
                    <a href="http://bioinformatics.oxfordjournals.org/citmgr?gca=bioinfo%3Bbtw120v2" class="btn" style="text-decoration:none;font-weight:bold; width: 300px">Cite AlgoRun ..</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action Bar -->