<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Submit Algorithm</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="basic-login">
                    <form id="form3" name="form3" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
action="https://algorun.wufoo.com/forms/q1dg804r1yajrsf/#public">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-5" style="text-align: left;">First</div>
                            <div class="col-md-5" style="text-align: left;">Last</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><label class="control-label">Name <span style="color: #FF0000">*</span></label></div>
                            <div class="col-md-5">
                                <input id="Field1" name="Field1" type="text" class="field text fn form-control" value="" size="20" tabindex="1"       required />
                            </div>
                            <div class="col-md-5">
                                <input id="Field2" name="Field2" type="text" class="field text ln form-control" value="" size="20" tabindex="2" required />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2"><label class="control-label">Email <span style="color: #FF0000">*</span></label></div>
                            <div class="col-md-10">
                                <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium form-control" value="" maxlength="255" tabindex="3"       required />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-7"><label class="control-label">Docker Hub Image <span style="color: #FF0000">*</span><span style="font-size: 12px; color: #2C3D50;"> (ex: ahosny/sorting)</span></label></div>
                            <div class="col-md-5">
                                <input id="Field4" name="Field4" type="text" class="field text medium form-control" value="" maxlength="255" tabindex="4" onkeyup=""       required />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">How did you find your experience with AlgoRun?</label>
                                <textarea id="Field5" name="Field5" class="field textarea medium form-control" spellcheck="true" rows="10" cols="50" tabindex="5" onkeyup=""></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <input id="saveForm" name="saveForm" class="btn pull-right" type="submit" value="Submit"/>
                            </div>
                        </div>
                        <ul>
                            <li class="hide">
                                <label for="comment">Do Not Fill This Out</label>
                                <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                                <input type="hidden" id="idstamp" name="idstamp" value="b9/Zf36Sa05SOY4oEplUABIkSllQrqROIVZlfmxVZXM=" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>