    <section class="no-margin">
        <div>
            <div>
                <div class="item active" style="background-image: url(images/slider/back.png); height: 90vh;">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-12">
                                <div style="text-align: center; margin-top: 20vh;">
                                    <img src="images/logo.png" style="width: 100px; heigt: 100px;">
                                    <br>
                                    <br>
                                    <div align="center">
                                    <input id="search-query" type="text" class="form-control" style="width: 50%; text-align: center" autocomplete="off" placeholder="type algorithm name or keywords">
                                        </div>
                                    <br>
                                    <br>
                                    <input id="search-button" type="submit" class="btn btn-info" value="Search Algorithms">
                                    <br>
                                    <br>
                                    <div class="pull-center">
                                        <a href="/search?q= "><p>Or Browse Recently Published Algorithms</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

            </div>
        </div>
    </section>