    <section class="no-margin">
        <div>
            <div>
                <div class="item active" style="background-image: url(images/slider/back.png); height: 90vh;">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-12">
                                <div style="text-align: center; margin-top: 20vh;">
                                    <img src="images/logo.png" style="width: 100px; heigt: 100px;">
                                    <br>
                                    <br>
                                    <div align="center">
                                    <input id="search-query" type="text" class="form-control" style="width: 50%; text-align: center" autocomplete="off" placeholder="type algorithm name or keywords">
                                        </div>
                                    <br>
                                    <br>
                                    <input id="search-button" type="submit" class="btn btn-info" value="Search Algorithms">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="pull-center">
                                        <a href="#recent-works"><i class="fa fa-arrow-circle-down fa-3x"></i><br><p>browse recently published algorithms</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Recent Algorithms</h2>
                <p class="lead">Check out our recently uploaded algorithms. Try them online ..</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/algo.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://react.algorun.org/" target="_blank">REACT</a> </h3>
                                <p>Evolutionary Algorithm for Discrete Dynamical System Optimization</p>
                                <a class="preview" href="http://react.algorun.org/" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/algo.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://bnreduction.algorun.org/" target="_blank">BNReduction</a></h3>
                                <p>Tools for Steady State Computation of Boolean Networks</p>
                                <a class="preview" href="http://bnreduction.algorun.org/" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/algo.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://cyclone.algorun.org/" target="_blank">Cyclone</a></h3>
                                <p>Calculate Dynamics of a discrete dynamical system using exhaustive search</p>
                                <a class="preview" href="http://cyclone.algorun.org/" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/algo.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://sdds.algorun.org/" target="_blank">SDDS</a></h3>
                                <p>Stochastic Discrete Dynamical System</p>
                                <a class="preview" href="http://sdds.algorun.org/" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->