<style>
    em {
        background-color: #FFFF00;
    }
</style>
<section class="no-margin">
        <div>
            <div>
                <div class="item active" style="background-image: url(images/slider/back.png);">
                    <div class="container">
                        <div style="margin-top: 10vh;">
                            <div class="row">
                                <div class="col-md-11">
                                    <input type="text" id="search-box" class="form-control" style="text-align: center" autocomplete="off" placeholder="type algorithm name or keywords"/>
                                </div>
                                <div class="col-md-1"><i class="fa fa-search" style="margin-top: 10px;"></i></div>
                            </div>
                            <br>        
                            <div id="hits-container"></div>
                            <div id="pagination-container"></div>
                        </div>
                    </div>
                </div><!--/.item-->

            </div>
        </div>
    </section>

<!-- Algolia search -->
<script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
<script src="js/browse.js"></script>