    <section id="feature" >
        <div class="container" style="height: 70vh;">
           <div class="center wow fadeInDown">
               <div class="row">
                  <div class="col-md-8 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <h2>Before You Start</h2>
                            <h3 style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Information presented here are mainly intended for algorithms developers who are willing to port their algorithm to AlgoRun for others to try. AlgoRun wraps your algorithm dependencies along with all your source code in a single container. Then, you can run your algorithm as a callable web service.</h3><br>
                            <h4 style="text-align: left;">To start, you will need to download Docker on your machine. This doesn't assume any prior use of Docker, and you won't need to understand Docker in details to use AlgoRun .. To install Docker on your machine, please navigate to <a href="http://docs.docker.com/mac/started/" target="_blank">this link</a> and select your machine (Mac OS X, Linux or Windows) and follow the steps. You can make sure that the Docker is installed correctly by running:
<code>docker run hello-world</code> in the terminal ..</h4>
                        </div>
                    </div><!--/.col-md-4-->
                   <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap" style="margin-top:70px;">
                            <a href="https://www.docker.com/" target="_blank">
                                <img src="images/docker.png"><br><h1 style="color: #3a8cb4">Docker</h1>
                            </a>
                        </div>
                    </div><!--/.col-md-4-->  
               </div>
               <div class="row">
                    <div class="pull-center wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <a href="#step1"><i class="fa fa-arrow-circle-down fa-3x"></i><br>STEP 1</a>
                    </div>
               </div>
            </div>  
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="step1" class="no-margin">
        <div>
             <div class="item active" style="background-image: url(images/slider/back.png);">
                  <div class="container">
                      <div class="row" style="margin-top: 50px;">
                        <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <img src="images/prepare.png"><br><h1 style="color: #fb8787;text-align: center;">STEP 1</h1>
                            </div>
                        </div><!--/.col-md-4-->
                        <div class="col-md-8 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <h1 style="color: #fb8787">Prepare Your Algorithm</h1>
                            <br>
                            <div style="font-size: 130%">
                            <p>Prepare your algorithm to work in the following scenario:</p>
                            <ul>
                                <li>Accept the input as a file and produce the output to another file.</li>
                                <li>Have a single entry point. That is, it starts execution from one point. If your algorithm start
executing on multiple files, you should combine them such that the <code>command</code> (below)
operates on one file only.</li>
                                <li>Your code should read the first command line argument as the file name as following:<br>
<code>$ command input_file</code> (this is executed in the terminal to run your algorithm)</li>
                            </ul>
                                <table style="width:100%"><tr><td style="border-bottom: solid; border-right: solid;"><code>command</code></td><td style="border-bottom: solid; padding-left: 10px;">The command you use through terminal to run your
algorithm</td></tr><tr><td style="border-right:solid;"><code>input_file</code></td><td style="padding-left: 10px;">The input file name your algorithm read and process</td></tr></table>
                            </div>
                        </div><!--/.col-md-4-->  
                      </div>
                      <hr>
                  </div>
              </div><!--/.item-->
            <div class="item active" style="background-image: url(images/slider/back.png);">
                  <div class="container">
                      <div class="row" style="margin-top: 50px;">
                        <div class="col-md-8 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <h1 style="color: #04ce04">Wrap Your Algorithm in a Container</h1>
                            <br>
                            <div style="font-size: 130%">
                            <p>We have provided a ready-made wrapper (a package) for you to put your algorithm in directly. Download the file in <a href="resources/skeleton.zip" target="_blank">this link</a> and uncompress it ..<br>When you open the directory, you should be able to figure out the folders as following:<br></p>
                            <div style="text-align:center">
                                <img src="images/try-it-dir.png">
                            </div>
                            <ul>
                                <li>Put all your algorithm source code in src folder. Include any libraries your main file calls</li>
                                <li>Then, edit the Dockerfile. Open the file and follow the instructions in it. In this file, you are going to install algorithm dependencies.<br>Example: <code>RUN apt-get install -y wget ruby2.0</code> in case your algorithm is written in Ruby language and needs to download some packages using wget ..<br>Algorithm dependencies are any packages that your source code requires to run correctly ..</li>
                                <li>Finally -and most important-, tell AlgoRun how to it should execute your code by editing the manifest in the algorun_info folder. Below is an illustration of the manifest fields.</li>
                            </ul>
                            <table style="width:100%; margin-left: 30px">
                                <tr>
                                    <td colspan=2><code>manifest.json</code></td>
                                </tr>
                                <tr>
                                    <td class='manifest'><b>algo_name</b></td>
                                    <td class='manifest'>the name of your algorithm</td>
                                </tr>
                                <tr>
                                    <td class='manifest'><b>algo_summary </b></td>
                                    <td class='manifest'>a 1-line summary of your algorithm</td>
                                </tr>
                                <tr>
                                    <td class='manifest'><b>algo_description</b></td>
                                    <td class='manifest'>a few lines description of your algorithm (basic html accepted)</td>
                                </tr>
                                <tr>
                                    <td class='manifest'><b>algo_website </b></td>
                                    <td class='manifest'>url where users can find more information about your algorithm</td>
                                </tr>
                                <tr>
                                    <td class='manifest'><b>algo_keywords</b></td>
                                    <td class='manifest'>a list of keywords describing your algorithm</td>
                                </tr>
                                <tr>
                                    <td class='manifest'><b>algo_authors </b></td>
                                    <td class='manifest'>a list of all the algorithm's authors</td>
                                </tr>
                                <tr>
                                    <td class='manifest'><b>algo_exec </b></td>
                                    <td class='manifest'>the command to start algorithm execution. AlgoRun passes the input file as
the first argument</td>
                                </tr>
                                <tr>
                                    <td class='manifest'><b>algo_output_filename </b></td>
                                    <td class='manifest'>path of the file where your algorithm outputs its results</td>
                                </tr>
                                <tr>
                                    <td class='manifest'><b>algo_parameters</b> <a style="cursor:pointer;"data-toggle="modal" data-target="#myModal">?</a></td>
                                    <td class='manifest'>list all the parameters available for your algorithm. These parameters will
be available for use in your algorithm as environment variables.</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 5px;"><b>algo_image </b></td>
                                    <td style="padding-left: 5px;">Example: "algorun/react". leave "" if you did not upload your algorithm to docker hub or if you do not know what docker hub is</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class='manifest'><code>input_example.txt</code></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding-left: 5px;">Fill it with the format of the input your algorithm accepts. This serves as a guidance users to know how to input data</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class='manifest'><code>output_example.txt</code></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding-left: 5px;">Fill it with the format of the output your algorithm    produces. This gives the user a glance on what result he will get</td>
                                </tr>
                            </table>
                            </div>
                        </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <img src="images/wrap.png"><br><h1 style="color: #04ce04;text-align: center;">STEP 2</h1>
                            </div>
                        </div><!--/.col-md-4-->
                      </div>
                      <hr>
                  </div>
              </div><!--/.item-->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">What are algorithm parameters (algo_parameters)?</h4>
      </div>
      <div class="modal-body">
        <p>[OPTIONAL] In some cases, your algorithm might use some configuration. This configuration
should be presented as parameters in a key-value pair <strong>(parameter name, parameter value)</strong>. To provide
default configuration, we make use of environment variables to save the default values of these
parameters. Your algorithm then reads default configuration from environment variables. In the
provided web interface, the user can easily change these parameters and run the algorithm again with
the new configuration.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
            <div class="item active" style="background-image: url(images/slider/back.png);">
                  <div class="container">
                      <div class="row" style="margin-top: 50px;">
                        <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <img src="images/execute.png"><br><h1 style="color: #1864b8;text-align: center;">STEP 3</h1>
                            </div>
                        </div><!--/.col-md-4-->
                        <div class="col-md-8 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <h1 style="color: #1864b8">Build and Run Your Container</h1>
                            <br>
                            <div style="font-size: 130%">
                            <ul>
                                <li>In your working directory (where the Dockerfile exists), use the following command to build your container:<br>
<code>docker build -t &#60;username&#62;/&#60;algorithm&#62; .</code><br>Where <code>&#60;username&#62;</code> is your Dockerhub username. If you don't have one yet, you can use your algorithm name only ..</li>
                                <li>Make sure that you see the build successfull message ..</li>
                                <li>Use the following command to run your container:<br>
<code>docker run -it -p 31331:8765 &#60;username&#62;/&#60;algorithm&#62;</code></li><li>Open your web browser and go to <code>http://localhost:31331</code> to see the automated web interface of your algorithm and try it ..</li>
                            </ul>
                            </div>
                        </div><!--/.col-md-4-->
                          
                      </div>
                      <div class="row">
                            
                      </div>
                      <hr>
                  </div>
                <div class="center wow fadeInDown" >
                    <h2>Example</h2>
                    <iframe width="80%" style="height:80vh;" src="https://www.youtube.com/embed/cY0KJtqmEfU">
                    </iframe>
                </div>
              </div><!--/.item-->
            
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="media-body">
                            <h2>Have a problem deploying your algorithm?</h2>
                            <div class="row">
                                <div>
                                    <a class="btn btn-info" style='width:100%' href="/contact-us">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->