    <section class="no-margin">
        <div>
            <div>
                <div class="item active" style="background-image: url(images/slider/back.png); height: 90vh;">
                    <div class="container">
                        <div class="row slide-margin" style="margin-top: 90px;">
                            <div class="col-sm-6">
                                <h1 style="color: #25AAE1">AlgoRun makes your algorithms visible and immediately reusable in 3 steps ..</h1>
                                <h1 style="color: #787878">1. Prepapre</h1>
                                <h1 style="color: #787878">2. Wrap</h1>
                                <h1 style="color: #787878">3. Build</h1>
                                <div style="text-align: center;">
                                    <a href="/getting-started"><div class="btn btn-primary">Getting Started</div></a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <iframe width="100%" height="380px" src="https://www.youtube.com/embed/cY0KJtqmEfU"></iframe>
                            </div>
                        </div>
                        <br>
                        <div class="pull-center"  style="text-align: center;">
                            <a href="#feature"><i class="fa fa-arrow-circle-down fa-3x"></i></a>
                        </div>
                    </div>
                </div><!--/.item-->

            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Why use AlgoRun?</h2>
                <p class="lead">AlgoRun is an Algorithm Execution Platform<br> It takes you less than <strong>5 minutes</strong> to webify your algorithm and make it available online for anyone to use ..</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-laptop"></i>
                            <h2>Exposure</h2>
                            <h3>AlgoRun provides your algorithm with an elegant web interface that makes it easy for users to discover, understand and use your algorithm</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Reusability</h2>
                            <h3>AlgoRun makes your algorithm immediately available for use from the web browser, through a dedicated API or through the good old command line. No more dependencies hell</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-code"></i>
                            <h2>Simplicity</h2>
                            <h3>No code change required, publishing your algorithm with AlgoRun takes less than 5 minutes</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->

    </section><!--/#feature-->

    <section id="content">
        <div class="center wow fadeInDown">
                <h2>What do they say about AlgoRun?</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 wow fadeInDown">
                    <div class="testimonial">
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="images/laubenbacher.jpg">
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>- R. Laubenbacher/</strong> Director, Center for Quantitative Medicine, UConn Health</span>
                            </div>
                         </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 wow fadeInDown">
                    <div class="testimonial">
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="images/vera-licona_paola.jpg">
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>- M. Paola Vera-Licona/</strong> Assistant Professor, Cell Biology, UConn Health</span>
                            </div>
                         </div>

                    </div>
                </div>
            </div><!--/.row-->
            <br><br>
            <div class="row">
                <div class="col-xs-12 col-sm-6 wow fadeInDown">
                    <div class="testimonial">
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="images/thibauld.jpg">
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>- Thibauld Favre/</strong> Founder of La Primaire Ouverte. Former CEO of Allmyapps.</span>
                            </div>
                         </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 wow fadeInDown">
                    <div class="testimonial">
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="images/andrew.jpg">
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>- Andrew Gainer-Dewar/</strong> Postdoctral Fellow, UConn Health</span>
                            </div>
                         </div>

                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->
    <div style="text-align: center;">
        <a href="/getting-started"><div class="btn btn-primary btn-lg" style="width: 80%">Getting Started</div></a>
    </div>
    <br>