<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{=it.title}}</title>
        
	   <!-- core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
        
        <!-- Algolia search -->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->       
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
        
        
    </head><!--/head-->
	<body>
        <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a-->
                    <a href="/"><img src="images/logo.png" style="width: 200px;"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right" style="margin-top:10px;">
                    <ul class="nav navbar-nav">
                        <li {{=it.browse_nav}}><a href="/browse">Browse Algorithms</a></li>
                        <li {{=it.getting_started_nav}}><a href="getting-started">Getting Started</a></li>
                        <li {{=it.publish_your_algorithm_nav}}><a href="publish-your-algorithm">Publish Your Algorithm</a></li>                          
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
		{{=it.body}}
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    &copy; 2015 <a href="/">AlgoRun</a>. All Rights Reserved.
                </div>
                <div class="col-sm-4" style="text-align:center;">
                    <a href="https://github.com/algorun/algorun" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                    &nbsp;&nbsp;<a href="https://twitter.com/algorun" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="col-sm-4">
                    <ul class="pull-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/sweetalert.min.js"></script>
	</body>
</html>