<section id="contact-page">
        <div class="container" style="margin-top: 50px">
            <div class="center">        
                <h2>Upload Your Image to Docker Hub</h2>
                <h3>Read <a href="http://odewahn.github.io/docker-jumpstart/dockerhub.html" target="_blank">this post</a> to know how to create an account and push your algorithm image ..</h3>
            </div> 
            <div class="row contact-wrap"> 
                <div class="status alert alert-success" style="display: none"></div>
                <div id="wufoo-q1dg804r1yajrsf">
Fill out my <a href="https://algorun.wufoo.com/forms/q1dg804r1yajrsf">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>
<script type="text/javascript">var q1dg804r1yajrsf;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'algorun',
'formHash':'q1dg804r1yajrsf',
'autoResize':true,
'height':'574',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { q1dg804r1yajrsf = new WufooForm();q1dg804r1yajrsf.initialize(options);q1dg804r1yajrsf.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
 
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->