    <section class="no-margin">
        <div>
            <div class="item active" style="background-image: url(images/slider/back.png);">
                <div class="container">
                    <div class="row" style="margin-top:50px; height: 70vh;">
                        <div class="col-sm-12">
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-sm-6" style="margin-top:5px;"><p><strong>Showing results for:</strong> {{=it.q}}</p></div>
                                <div class="col-sm-5"><input id="search-query" type="text" class="form-control" style="text-align: center" autocomplete="off" placeholder="modify search"></div>
                                <div class="col-sm-1" style="margin-top:5px;"><i class="fa fa-search"></i></div>
                            </div>
                            {{=it.result}}
                        </div>                            
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </section><!--/#main-slider-->

<script src="js/jquery.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/sweetalert.min.js"></script>
<script>var buttons = "{{=it.buttons}}";
    btns_ids = buttons.split(",");
    btns_ids.forEach(function(id){
        $("#"+id).click(function(){
            $("#"+id).html("<i class='fa fa-send fa-lg'> deploying ..</i>");
            $('#'+id).prop('disabled', true);
            var jqxhr = $.get( "/try-it?image="+id, function() {})
            .done(function(data) {
                $("#"+id).html("<i class='fa fa-arrow-right fa-lg'> try now</i>");
                $('#'+id).prop('disabled', false);
                if(data['status'] === 'success'){
                    var temp_server = data['endpoint'];
                    window.open(temp_server, '_blank');
                } else {
                    swal({   title: "try again!",   text: "Server Error!",   type: "error",   confirmButtonText: "Ok" });
                }
            })
            .fail(function() {
                $("#"+id).html("<i class='fa fa-arrow-right fa-lg'> try now</i>");
                $('#'+id).prop('disabled', false);
                swal({   title: "try again!",   text: "Server Error!",   type: "error",   confirmButtonText: "Ok" });
            });
        });
    });
</script>